.productDetails {
  //display: flex;
  align-content: center;
  font-family:AppleSystemUIFont;
  font-weight: normal;
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  width: 300px;
  height: 350px;
  margin: auto;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;

  input{
    width: 90px;
    margin: 3px;
  }

  img{
    width: 300px;
  }
}