.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }

  div{
    margin: 3px;
  }

  .btn {
    display: flex;
    justify-content: space-between;
    width:90px;
    margin-left: 2px;
  }
}
